
.ciocolată {
  background-color: rgb(132,86,60, 0.877);
  color: whitesmoke;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  text-align: center;
  font-size:23px;
  font-family:verdana;
  -webkit-text-stroke: 0.5px black;
}
.vanilie {
  background-color: rgb(214,197,175, 0.877);
  color: whitesmoke;
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
  text-align: center;
  font-size:23px;
  font-family:verdana;
  -webkit-text-stroke: 0.5px black;
   
}
.lamaie {
  background-color: rgb(222, 238, 79, 0.877);
  color: whitesmoke;
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
  text-align: center;
  font-size:23px;
  font-family:verdana;
    -webkit-text-stroke: 0.5px black;
}
.menta {
  background-color: rgba(119, 226, 155, 0.877);
  color: whitesmoke;
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
  text-align: center;
  font-size:23px;
  font-family:verdana;
    -webkit-text-stroke: 0.5px black;
}
.caramel {
  background-color: rgb(197,115,61, 0.877);
  color: whitesmoke;
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
  text-align: center;
  font-size:23px;
  font-family:verdana;
    -webkit-text-stroke: 0.5px black;
}
.capsune {
  background-color:rgb(252,179,172, 0.877);
  color: whitesmoke;
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
  text-align: center;
  font-size:23px;
  font-family:verdana;
  -webkit-text-stroke: 0.5px black;}
.fistic {
  background-color: rgb(147,207,127, 0.877);
  color: whitesmoke;
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
  text-align: center;
  font-size:23px;
  font-family:verdana;
  -webkit-text-stroke: 0.5px black;}
.fructepadure {
  background-color: rgb(169,166,216, 0.877);
  color: whitesmoke;
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
  text-align: center;
  font-size:23px;
  font-family:verdana;
  -webkit-text-stroke: 0.5px black;}
.tiramisu {
  background-color: rgb(212,190,167, 0.877);
  color: whitesmoke;
  border: 2px solid black;
  padding: 20px;
  margin: 5px;
  text-align: center;
  font-size:23px;
  font-family:verdana;
  -webkit-text-stroke: 0.5px black;}




.Latte{
  background-color:rgb(200,173,144, 0.877);
  color: whitesmoke;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
    -webkit-text-stroke: 0.5px black;
  }
  .Cappuccino{
  background-color: rgb(163,115,51, 0.877);
  color: whitesmoke;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
      -webkit-text-stroke: 0.5px black;
  }
  .Espresso{
  background-color:rgb(78,42,42, 0.877);
  color: whitesmoke;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
      -webkit-text-stroke: 0.5px black;
  }
  .Macchiato{
  background-color:rgb(79,71,68, 0.877);
  color: whitesmoke;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
      -webkit-text-stroke: 0.5px black;
  }
  .Limonadă{
  background-color:rgb(212,205,1, 0.877);
  color: whitesmoke;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
      -webkit-text-stroke: 0.5px black;
  }
  .Apa{
  background-color: rgb(38,102,145, 0.877);
  color: whitesmoke;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
      -webkit-text-stroke: 0.5px black;
  }
  .Ristretto{
  background-color: rgb(67,19,7, 0.877);
  color: whitesmoke;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
      -webkit-text-stroke: 0.5px black;
  }
  .CeaiVerde{
  background-color:rgb(131,170,107, 0.877);
  color: whitesmoke;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
      -webkit-text-stroke: 0.5px black;
  }
  .CeaiNegru{
  background-color:rgb(46,17,10, 0.877);
  color: whitesmoke;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
      -webkit-text-stroke: 0.5px black;
  }


  .Airbow {
    background-color: rgba(31, 55, 165, 0.45);
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-size:23px;
    font-family:verdana;
      -webkit-text-stroke: 0.5px black;
  }
  .Golf {
    background-color: rgba(141, 141, 0, 0.45);
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-size:23px;
    font-family:verdana;
      -webkit-text-stroke: 0.5px black;
  }
  .Hockey {
    background-color: rgba(199, 41, 41, 0.45);
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-size:23px;
    font-family:verdana;
      -webkit-text-stroke: 0.5px black;
  }
  
  

  div {font-family:"verdana"}
  .ver
{
  text-align: left;
  font-size: medium ;
  font-size: 22px;
}
p { text-align: left ;}
p4{  -webkit-text-stroke: 0.5px black;}

